[Unit]
Description=Automated Borg Backup to USB Drive
BindsTo=run-media-tux-INTENSO.mount
After=run-media-tux-INTENSO.mount

[Service]
Type=oneshot
EnvironmentFile=%h/.config/borg/intenso-documents.env
ExecStart=/usr/bin/borg create --compression zstd /run/media/tux/INTENSO/Borg-Backup/Documents::{now} %h/Documents
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=run-media-tux-INTENSO.mount
