[Unit]
Description=Automated Borg Backup to USB Drive
# Tie the lifecycle of this service directly to the presence of the physical device
BindsTo=dev-disk-by\x2duuid-6c0705a8\x2daa0e\x2d4734\x2db218\x2ddbe8c8ab0b20.device
After=dev-disk-by\x2duuid-6c0705a8\x2daa0e\x2d4734\x2db218\x2ddbe8c8ab0b20.device

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=%h/.config/borg/intenso-documents.env
ExecCondition=/usr/bin/bash -c '/usr/bin/udisksctl mount -b /dev/disk/by-uuid/6c0705a8-aa0e-4734-b218-dbe8c8ab0b20 || /usr/bin/mountpoint -q /run/media/tux/INTENSO'
ExecStart=/usr/bin/borg create --compression zstd /run/media/tux/INTENSO/Borg-Backup/Documents::{now} %h/Documents
StandardOutput=journal
StandardError=journal
