[Unit]
Description=Backup ~/Documents to S3

[Service]
Type=oneshot
EnvironmentFile=%h/.config/borg-s3-backup/kds-docs.env
ExecStart=%h/.local/bin/borg-s3-backup.sh

[Install]
WantedBy=default.target
