set editing-mode vi

$if mode=vi
set keymap vi-command
Control-l: clear-screen
set keymap vi-insert
Control-l: clear-screen
set show-mode-in-prompt on
$endif

# Map non-breaking space to regular
"\xc2\xa0": " "
